.formContainer {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .formContainer h1 {
    text-align: center;
    margin-bottom: 24px;
    color: green;
  }
  
  .formContainer input,
  .formContainer select,
  .formContainer button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .formContainer input:focus,
  .formContainer select:focus {
    border-color: black;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  .formContainer button {
    background-color: green;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .formContainer button:hover {
    background-color: darkgreen;
  }
  